{plugins, [rebar_erlydtl_compiler]}.

{sub_dirs, []}.
 
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}},
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
    	{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    	{jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}
       ]}.
 
{erl_opts, [{parse_transform, lager_transform},{src_dirs, ["src","test"]},{outdir,"ebin"}]}.
